/* Style général pour le conteneur de la catégorie */
.shop-category {
    padding: 20px;
    margin: 0 auto;
    background: linear-gradient(180deg, #00416a 0%, #00c6ff 50%, #43e97b 100%);

    color: white;

}

/* Style pour l'image de la bannière */
.banner-img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* Style pour le conteneur du tri et de l'index */
.shopcategory-indexsort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Style pour le tri des produits */
.shopcategory-sort {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
}

/* Style pour l'icône de dropdown */
.dropdown {
    margin-left: 10px;
    width: 20px;
    height: 20px;
}

/* Style pour le conteneur des produits */
.shopcategory-products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    color: #3f3f3f;
    
}

/* Style pour chaque élément (Item) dans le conteneur */
.shopcategory-products .item {
    background: white;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Style pour le bouton "Explore more" */
.shopcategory-loadmore {
    margin-top: 20px;
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles responsive */
@media (max-width: 1200px) {
    .shopcategory-products {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .shopcategory-indexsort {
        flex-direction: column;
        align-items: flex-start;
    }

    .shopcategory-sort {
        margin-top: 10px;
    }

    .shopcategory-products {
        grid-template-columns: 1fr;
    }

    .shopcategory-loadmore {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .shop-category {
        padding: 15px;
    }

    .banner-img {
        border-radius: 5px;
    }

    .shopcategory-indexsort {
        margin-bottom: 15px;
    }

    .shopcategory-products .item {
        padding: 10px;
    }
    .shopcategory-products{
        width: 80%;
    }
}
