.banner-img {
    width: 100%;
    display: block;
    margin: 30px auto;
    max-width: 1920px; /* Limite la largeur maximale de la bannière pour les grands écrans */
}

.dropdown {
    width: 20px; /* Augmenté pour une meilleure visibilité sur les grands écrans */
    margin-left: 10px;
}

.shopcategory-indexsort {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 40px; /* Ajustement de la marge pour les grands écrans */
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.shopcategory-sort {
    padding: 15px 30px; /* Ajusté pour être plus visible sur les grands écrans */
    border-radius: 40px;
    border: 1px solid #888888;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.shopcategory-indexsort p span {
    font-weight: 600;
}

.shopcategory-products {
    margin: 20px 40px; /* Ajustement de la marge pour les grands écrans */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Augmenté pour des produits plus larges sur grand écran */
    row-gap: 60px;
    margin-bottom: 100px;
}

.shopcategory-loadmore {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 300px; /* Augmenté pour une meilleure visibilité sur grand écran */
    height: 80px; /* Augmenté pour une meilleure visibilité sur grand écran */
    border-radius: 75px;
    background-color: #ededed;
    color: #787878;
    font-size: 20px; /* Augmenté pour une meilleure visibilité sur grand écran */
    cursor: pointer;
    font-weight: 500;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.shopcategory-loadmore:hover {
    background-color: #cfcfcf;
    color: #606060;
}

.shopcategory-products .item {
    display: flex;
    flex-direction: column; /* S'assurer que les éléments sont en colonne */
    align-items: center; /* Centrer les éléments horizontalement */
    text-align: center;
}

.item-price {
    font-size: 20px; /* Augmenté pour une meilleure visibilité sur grand écran */
    color: #333;
    margin-top: 10px; /* Espace entre l'image et le prix */
}

/* Responsive Design */
@media (max-width: 768px) {
    .shop-category{
        background-color: #1C1C1C;
        color: white;
    }
    .shopcategory-indexsort {
        margin: 0px 10px;
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }

    .shopcategory-products {
        row-gap: 50px;
    }
}

@media (min-width: 1440px) {
    .shopcategory-indexsort {
        margin: 0px 50px; /* Ajustement de la marge pour les très grands écrans */
    }

    .shopcategory-products {
        margin: 20px 50px; /* Ajustement de la marge pour les très grands écrans */
    }
}
