.slidebar{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    gap: 20px;
    max-width: 250px;
    height: 100vh;
    background: white;
}
.panier{
    width: 100px;
    height: 80px;
}
.list{
    width: 100px;
    height: 80px;
}
.slidebar-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 20px;
    padding: 5px 10px;
    border-radius: 6px;
    background: #f6f6f6;
    gap: 20px;
    cursor: pointer;
}
.order-img{
    width: 100px;
    height: 80px;
}