/* Styles par défaut */
.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Centre verticalement les éléments enfants */
    gap: 10px;
    height: 65vh;
    background: linear-gradient(180deg, #11998e 0%, #38ef7d 50%, #11998e 100%);
    color: #333333;
}

.popular h1 {
    color: #D3D3D3;
    font-size: 3rem; /* Augmentation de la taille pour écrans plus larges */
    font-weight: 600;
    text-align: center;
}

.popular hr {
    width: 500px; /* Augmentation de la largeur pour mieux s'adapter aux écrans plus larges */
    height: 6px;
    border-radius: 10px;
    background-color: #252525;
}

.popular-item {
    margin-top: 30px;
    display: flex;
    color: #171717;
    justify-content: center;
    gap: 30px; /* Augmentation de l'espace pour les écrans plus larges */
}

/* Media Queries */
@media (max-width: 1380px) {
    .popular h1 {
        font-size: 2.5rem; /* Ajustement pour écrans de 1380px */
    }

    .popular hr {
        width: 150px; /* Ajustement pour écrans de 1380px */
    }

    .popular-item {
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .popular {
        height: auto;
    }

    .popular h1 {
        font-size: 2rem;
    }

    .popular hr {
        width: 200px;
    }

    .popular-item {
        gap: 15px;
        flex-wrap: wrap;
        margin-left: 10px;
    }
}

@media (max-width: 480px) {
    .popular{
        margin-bottom: 40px;
    }
    .popular h1 {
        font-size: 1.75rem;
    }

    .popular hr {
        width: 150px;
        height: 4px;
    }

    .popular-item {
        gap: 10px;
        margin-left: 10px;
    }
}
